<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <!-- # Rails will render the partial with the name corresponding to the class of
  # this object. -->
  <%= render @users %>
</ul>

<%= will_paginate %>
